.container {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-name {
  width: 90px;
  display: flex;
  justify-content: space-between;
}

.section-name div h1 {
  font-weight: 400;
}

.current-date {
  margin-top: 0.5rem;
  font-weight: 100;
  color: #605e5c;
}
